/* Register page */
.registerPage,
.loginPage,
.forgetpassword {
  width: 100%;
  min-height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.textField {
  border-radius: 7px;
  box-shadow: 5px 5px 15px black;
  padding: 20px;
  margin: 7px;
}
