/* Navbar.js */
.navbarFix {
  flex-wrap: wrap-reverse;
  width: 100%;
  box-shadow: 2px 2px 4px gray;
  position: sticky;
  top: 0;
  z-index: 1;
}

.brandName {
  font-size: 12px;
  color: blueviolet;
}
.titleName {
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  color: chocolate;
  transition: all 0s ease-in-out;
}
.drowerBtn {
  border-radius: 7px;
  cursor: pointer;
}

.listItems {
  position: relative;
  top: 10px;
  list-style: none;
  display: flex;
  gap: 25px;
}

@media (max-width: 400px) {
  .brandName {
    font-size: 10px;
  }
  .listItems {
    gap: 10px;
  }
}
@media (max-width: 350px) {
  .offers {
    display: none;
  }
  .listItems {
    gap: 5px;
  }
}
