.R,
.A,
.H,
.U,
.L,
.icons,
.Dep {
  position: relative;
  left: 35px;
  color: blueviolet;
  font-style: italic;
  opacity: 0;
  transform: scale(0);
  animation: show 1s ease forwards;
  /* animation-delay: 0.3s; */
}
.A {
  animation-delay: 0.6s;
}
.H {
  animation-delay: 0.9s;
}
.U {
  animation-delay: 1.2s;
}
.L {
  animation-delay: 1.5s;
}
.icons {
  animation-delay: 1.8s;
}
.custom_loader {
  width: 170px;
  height: 22px;
  border-radius: 20px;
  color: #f4bf00;
  border: 2px solid;
  position: relative;
}

.custom_loader::before {
  content: "";
  position: absolute;
  margin: 2px;
  inset: 0 100% 0 0;
  border-radius: inherit;
  background: #f4bf00;
  animation: p6 3.5s;
}

@keyframes p6 {
  100% {
    inset: 0;
  }
}
@keyframes show {
  to {
    opacity: 1;
    transform: scale(1.2);
  }
}
