.order_container {
  max-width: 1500px;
  display: flex;
  justify-content: space-around;
  margin: 15px;
  flex-wrap: wrap;
}
.input_container {
  margin-top: 50px;
  padding: 25px;
  width: 600px;
  height: fit-content;
  box-shadow: 10px 10px 20px gray, -10px -10px 10px #8080803e;
  border-radius: 10px;
}
.title {
  border-bottom: 2px solid blueviolet;
  width: fit-content;
  padding-bottom: 5px;
}
.input_field {
  margin: 10px 20px;
  box-shadow: 10px 10px 20px gray;
}
