.filterContainer {
  padding: 10px;
  position: sticky;
  top: 80px;
}
.starIcons {
  font-size: 10px;
  color: chocolate;
  position: relative;
  bottom: 2px;
  padding: 1px;
}
.responsiveFilterContainer {
  position: fixed;
  top: 75px;
  z-index: 1;

  display: none;
  margin-top: 10px;
}
@media (max-width: 860px) {
  .responsiveFilterContainer {
    width: 50%;
  }
  .filterContainer {
    display: none;
  }
  .responsiveFilterContainer {
    display: block;
  }
}
@media (max-width: 630px) {
  .responsiveFilterContainer {
    width: 350px;
  }
}

@media (max-width: 400px) {
  .responsiveFilterContainer {
    width: 320px;
  }
}
