.filterContainer {
  padding: 10px;
}
.starIcons {
  font-size: 10px;
  color: chocolate;
  position: relative;
  bottom: 2px;
  padding: 1px;
}
.responsiveFilterContainer {
  display: none;
  margin-top: 10px;
}
@media (max-width: 860px) {
  .filterContainer {
    display: none;
  }
  .responsiveFilterContainer {
    display: block;
  }
}
