.filter_area,
.product_area {
  padding-left: 7%;
}
.listing {
  display: flex;
}

.related_heading {
  border-bottom: 2px solid blueviolet;
  padding-bottom: 4px;
  width: fit-content;
}

@media (max-width: 860px) {
  .listing {
    display: block;
  }
}
@media (max-width: 630px) {
  .listing {
    padding-left: 10px;
  }
}

@media (max-width: 450px) {
  .product_area,
  .filter_area {
    padding-left: 5px;
  }
}
