.card {
  display: flex;
  width: 27rem;
  height: 8rem;
  gap: 10px;
  margin: 15px 5px;
  font-weight: 500;
  border-radius: 5px;
  box-shadow: 2px 2px 7px gray;
}
.images {
  width: 8rem;
}
.likeButton {
  font-size: 20px;
}
