.details_container {
  display: flex;
  transition: all 0.6s ease;
}
.main_image {
  width: 450px;
  height: 500px;
  object-fit: cover;
  transition: all 0.6s ease;

  border-radius: 7px;
  box-shadow: 3px 3px 10px #00000091, 3px 3px 10px #00000090;
}
.main_image:hover {
  opacity: 0.9;
}
.gallery {
  width: 90px;
  height: 90px;
  margin-bottom: 10px;
  cursor: pointer;
  box-shadow: 2px 2px 7px gray;
  transition: all 0.3s ease;
}
.gallery:hover {
  opacity: 0.7;
  transform: scaleX(1.2);
}
.stock {
  background-color: purple;
  width: fit-content;
  padding: 5px;
  color: white;
  font-weight: bold;
  border-radius: 8px;
}
@media (max-width: 1000px) {
  .main_image {
    width: 350px;
    height: 400px;
  }
  .gallery {
    width: 70px;
    height: 70px;
  }
}
@media (max-width: 850px) {
  .details_container {
    flex-wrap: wrap;
  }
}
@media (max-width: 525px) {
  .main_image {
    width: 400px;
    height: 300px;
  }
  .gallery_container {
    display: flex;
    gap: 10px;
  }
}
@media (max-width: 450px) {
  .gallery {
    width: 60px;
    height: 60px;
  }
}
