.product_area {
  display: flex;
  overflow: scroll;
  padding: 7px;
}
.product_area::-webkit-scrollbar {
  display: none;
}
.relattitle {
  border-bottom: 2px solid blueviolet;
  width: fit-content;
  padding-bottom: 4px;
}

.card {
  padding: 10px;
  margin: 20px;
  box-shadow: 10px 10px 5px #b1adad, -10px -10px 5px gainsboro;
  border-radius: 10px;
  transition: all 0.4s ease;
}
.card:hover {
  opacity: 0.7;
  transform: scale(0.9);
}

.images {
  width: 200px;
  height: 200px;
  border-radius: 10px;
}
.product_name {
  width: 180px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
